<!DOCTYPE html>
<html>
<head>
    <title>Notes App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/note_view.js') }}"></script> 
    <script type="module" src="{{ url_for('static', filename='scripts/note_listener.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Login Icon</title>
</head>
<body>
    <div id="notes-container"></div>
    <div class="note-form">
        <label for="note-title">Title for your note:</label>
        <input type="text" name="note-title" id="note-title" />
        <label for="note-text">Write something down:</label>
        <textarea
            name="note-text"
            id="note-text"
            cols="24"
            rows="10"
        ></textarea>
        <button class="button" id="create-note">Make Note</button>
        <button class="button sort-button" id="sort-notes">Sort Notes</button>
        <button class="button delete-button" id="delete-notes">Delete Notes</button>
    </div>

    <div class="login-icon">
        <i class="material-icons">person</i>
    </div>

</body>
</html>
