<!DOCTYPE html>
<html>
<head>
    <title>Index Table</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="/auth/login">Test an API request</a></td>
        </tr>
        <tr>
            <td><a href="/auth/authorize">Test the auth flow directly</a></td>
        </tr>
        <tr>
            <td><a href="/revoke">Revoke current credentials</a></td>
        </tr>
        <tr>
            <td><a href="/clear">Clear Flask session credentials</a></td>
        </tr>
    </table>
</body>
</html>
