@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.login-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.login-icon:hover {
  background-color: #0056b3;
}

.login-options {
  display: none;
  position: absolute;
  top: calc(100% - 10px);
  right: 0;
  background-color: #99e5a2;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.login-option {
  color: #000;
  padding: 10px;
  cursor: pointer;
}

.login-option:hover {
  background-color: #f0f0f0;
}

#user-info {
  position: absolute;
  bottom: 0;
  left: 0;
}
